<?php
ob_start();
session_start();

$BASE_URL = "";

//database credentials
define('DBHOST','');
define('DBPORT','');
define('DBUSER','');
define('DBPASS','');
define('DBNAME','');

$db = new PDO("mysql:host=".DBHOST.";port=".DBPORT.";dbname=".DBNAME, DBUSER, DBPASS);
$db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
